@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Russo+One&display=swap');

$WINDOW_BORDER_COLOR: cyan;
$WINDOW_DISABLED_COLOR: gray;

$LABEL_COLOR: cyan;

$LOGO_COLOR: lightcyan;

$BACKGROUND_COLOR: #05160f;

$CORNER: 10px;
$BORDER_THICKNESS: 3px;

$FONT_BUTTONS: 'Raleway','Franklin Gothic Medium', 'Arial Narrow', Arial, Helvetica, sans-serif;
$FONT_PARAGRAPHS: 'Nunito', 'Franklin Gothic Medium', 'Arial Narrow', Arial, Helvetica, sans-serif;
$FONT_HEADINGS: 'Russo One', 'Franklin Gothic Black', 'Arial Black', Arial, Helvetica, sans-serif;

body {
    overflow: hidden;
    font-family: $FONT_PARAGRAPHS;
}

#article-window {
    position: absolute;
    left: 50vw;
    width: calc(50vw - 64px);
    height: 60vh;
    opacity: 0;
    > #article-container {
        color: $WINDOW_BORDER_COLOR;
        width: 100%;
        height: 100%;
        background: rgba(0, 37, 51, 75%);
        overflow: hidden scroll;
        box-sizing: border-box;
        padding: 0 1rem;
        scrollbar-color: $WINDOW_BORDER_COLOR transparent;
        scrollbar-width: thin;
        clip-path: polygon(#{$CORNER} 0%, calc(100% - #{$CORNER}) 0%, 100% #{$CORNER}, 100% calc(100% - #{$CORNER}), calc(100% - #{$CORNER}) 100%, #{$CORNER} 100%, 0% calc(100% - #{$CORNER}), 0% #{$CORNER});
    
        *::selection {
            background: transparent;
            color: white;
            text-shadow: 0 0 2px rgba(white,40%);
        }

        h2,h3,h4 {
            font-weight: bold;
        }

        h1 {
            font-family: $FONT_HEADINGS;
            font-weight: 400;
            font-size: 2rem;
            padding: 0.5rem 0;
            border: solid $WINDOW_BORDER_COLOR;
            border-width: 2px 0 2px 0;
            text-align: center;
        }
    }

    > #article-container::-webkit-scrollbar {
        width:6px;
        height:100%;
    }
    > #article-container::-webkit-scrollbar-button {
        display: none;
    }
    > #article-container::-webkit-scrollbar-track {
        background: transparent;
    }
    > #article-container::-webkit-scrollbar-thumb {
        background: $WINDOW_BORDER_COLOR;
        border-radius: 6px;
    }

    #article-content {
        padding: 0 1rem;
    }

    #article-window-border {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        $GRAD: transparent 49.5%,$WINDOW_BORDER_COLOR 50%;
        background: 
            linear-gradient(to top right   ,#{$GRAD}) top    right,
            linear-gradient(to top left    ,#{$GRAD}) top    left,
            linear-gradient(to bottom right,#{$GRAD}) bottom right,
            linear-gradient(to bottom left ,#{$GRAD}) bottom left;
        background-size:calc(#{$CORNER} - #{$BORDER_THICKNESS}) calc(#{$CORNER} - #{$BORDER_THICKNESS});
        background-repeat:no-repeat;
        border: #{$BORDER_THICKNESS} solid $WINDOW_BORDER_COLOR;
        clip-path: polygon(#{$CORNER} 0%, calc(100% - #{$CORNER}) 0%, 100% #{$CORNER}, 100% calc(100% - #{$CORNER}), calc(100% - #{$CORNER}) 100%, #{$CORNER} 100%, 0% calc(100% - #{$CORNER}), 0% #{$CORNER});
        opacity: 1;
        pointer-events: none;
    }

    > button {
        font-size: 14pt;
        margin-top: 0.5rem;
    }
    > button:hover {
        width: 100%;
    }
    > button::after {
        content:"Go back";
        line-height: calc(100% + 6pt);
    }
}

@supports(backdrop-filter: blur(1px)) {
    #article-window {
        > #article-container {
            backdrop-filter: blur(5px);
            background-color: rgba(0, 37, 51, 33%);
        }
    }
    .slideshow-slide {
        transition: backdrop-filter ease-out 0.25s;
        > .image-button {
            backdrop-filter: blur(5px);
            background-color: rgba(black,50%)!important;
        }
    }
}

@supports(-webkit-backdrop-filter: blur(1px)) {
    #article-window {
        > #article-container {
            -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
            background-color: rgba(0, 37, 51, 33%);
        }
    }
    .slideshow-slide {
        transition: -webkit-backdrop-filter ease-out 0.25s;
        > .image-button {
            -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
            background-color: rgba(black,50%)!important;
        }
    }
}

#logo {
    z-index: 5;
    position: fixed;
    top:0;
    background-color: $BACKGROUND_COLOR;
    transition: background-color 2.5s ease-out, backdrop-filter 2s ease-out;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    backdrop-filter: blur(5px);

    svg {
        position: fixed;
        top: 0;
        left: 0;
        transform: translate(0%,0%);

        line {
            fill:none;
            stroke: $LOGO_COLOR;
            stroke-width:4;
            stroke-linecap:round;
            stroke-linejoin:round;
            stroke-miterlimit: 10;
            stroke-dasharray: 800;
            stroke-dashoffset:800;
            animation: dash 1s forwards;
        }
        .st0 {
            animation-timing-function: cubic-bezier(.3,.18,.92,.71);
        }
        .st1 {
            animation-delay: 0.333s;
            animation-timing-function: cubic-bezier(.36,.25,.8,.81);
        }
        .st2 {
            animation-delay: 0.666s;
            animation-timing-function: cubic-bezier(.31,.29,.74,.95);
        }
        .st3 {
            stroke-width:6;
            animation-delay: 0.888s;
            animation-timing-function: cubic-bezier(.33,.41,.43,1.01);
        }
        .st4{
            fill:none;
            stroke: $LOGO_COLOR;
            stroke-width:2;
            stroke-miterlimit: 10;
            stroke-dasharray: 800;
            stroke-dashoffset:800;
            animation: dash 1.75s linear forwards;
        }
        
        #NAME {
            animation: show-name 0.5s ease-out both;
            animation-delay: 0.8s;
            fill: $LOGO_COLOR;
        }
    
        #TITLE {
            animation: show-title 0.5s ease-out both;
            animation-delay: 1s;
            fill: $LOGO_COLOR;
        }
        
        @keyframes dash {
            from {
                stroke-dashoffset: 800;
            }
            to {
                stroke-dashoffset: 0;
            }
        }
    
        @keyframes show-name {
            from {
                transform:translateY(-50px);
                opacity:0;
            }
            to {
                transform:translateY(0px);
                opacity:1;
            }
        }
        @keyframes show-title {
            from {
                transform:translateX(100px);
                opacity:0;
            }
            to {
                transform:translateX(0px);
                opacity:1;
            }
        }
    }
}

#logo.small {
    background-color: rgba($BACKGROUND_COLOR,0%);
    backdrop-filter: blur(0px);
}

#slideshow-grid {
    display: grid;
    height: 50vh;
    width: 40vw;
    position: fixed;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: 66.6% auto auto;
    grid-gap: 3px;
    pointer-events: none;

    .box {
        height: 100%;
        display:inline-block;
        position:relative;

        > .content, > .border, .overlay {
            position:absolute;
            top:0;
            left:0;
            right:0;
            bottom:0;
            content:"";
            clip-path: polygon(#{$CORNER} 0%, calc(100% - #{$CORNER}) 0%, 100% #{$CORNER}, 100% calc(100% - #{$CORNER}), calc(100% - #{$CORNER}) 100%, #{$CORNER} 100%, 0% calc(100% - #{$CORNER}), 0% #{$CORNER});
            background-position: center;
            background-size: cover;
        }
    
        > .border {
            $GRAD: transparent 49.5%,$WINDOW_BORDER_COLOR 50%;
            background: 
                linear-gradient(to top right   ,#{$GRAD}) top    right,
                linear-gradient(to top left    ,#{$GRAD}) top    left,
                linear-gradient(to bottom right,#{$GRAD}) bottom right,
                linear-gradient(to bottom left ,#{$GRAD}) bottom left;
            background-size:calc(#{$CORNER} - #{$BORDER_THICKNESS}) calc(#{$CORNER} - #{$BORDER_THICKNESS});
            background-repeat:no-repeat;
            border: #{$BORDER_THICKNESS} solid $WINDOW_BORDER_COLOR;
            opacity: 1;
            pointer-events: none;
        }

        .overlay {
            background-color:rgba($WINDOW_BORDER_COLOR,15%);
            mix-blend-mode: lighten;
            pointer-events: none;
        }

        .video-button {
            background-image: url('/assets/gui/video-icon.svg');
            width:100%;
            height:100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 5vh;
            display: none;
        }

    }

    .box.hidden {
        display: none;
    }

    .box.invisible {
        visibility: hidden;
        pointer-events: none;
    }

    .box.slideshow-button {
        opacity: 0;
        top: -33.3%;
    }

    .box.header {
        grid-column: 1 / 6;
        .overlay {
            mix-blend-mode: overlay;
        }
        > .content {
            display:flex;
            overflow-x: scroll;
            scroll-snap-type: x mandatory;
            scroll-behavior: smooth;
            scrollbar-width: none;
            > .slideshow-slide {
                width:100%;
                height:100%;
                flex: 0 0 100%;
                background-position: center;
                background-size: cover;
                scroll-snap-align: center;

                > .video-button, > .image-button {
                    width:100%;
                    height:100%;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: 15vh;
                    display: block;
                }

                > .video-button {
                    background-image: url('/assets/gui/video-icon.svg');
                }

                > .image-button {
                    background-color: rgba(black,75%);
                    background-image: url('/assets/gui/zoom-icon.svg');
                    background-size: 30vh;
                    transition: all ease-out 0.25s;
                    opacity: 0;
                }
                
            }
            
            > .slideshow-slide:hover > .image-button {
                opacity: 1;
                background-size: 15vh;
            }

        }
        > .content::-webkit-scrollbar {
            display: none;
        }
    }

    .box.active {
        .overlay {
            background: transparent;
        }
    }

    .box.unavailable {
        .overlay {
            background-color:rgba($WINDOW_DISABLED_COLOR,15%);
        }
        > .border {
            $GRAD: transparent 49.5%,lighten($WINDOW_DISABLED_COLOR,50%) 50%;
            background: 
                linear-gradient(to top right   ,#{$GRAD}) top    right,
                linear-gradient(to top left    ,#{$GRAD}) top    left,
                linear-gradient(to bottom right,#{$GRAD}) bottom right,
                linear-gradient(to bottom left ,#{$GRAD}) bottom left;
            background-size:calc(#{$CORNER} - #{$BORDER_THICKNESS}) calc(#{$CORNER} - #{$BORDER_THICKNESS});
            background-repeat:no-repeat;
            border: #{$BORDER_THICKNESS} solid lighten($WINDOW_DISABLED_COLOR,50%);
            opacity: 1;
        }
    }
}

#label {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    > path {
        stroke-width: 2px;
        color: $LABEL_COLOR;
        fill: none;
    }
    > text {
        font-size: 24px;
        font-family: $FONT_BUTTONS;
        font-variation-settings: 'wght' 350;
    }
}

button {
    color: $WINDOW_BORDER_COLOR;
    font-family: $FONT_BUTTONS;
    font-weight: 500;
    font-variation-settings: 'wght' 500;
    font-size: 16pt;
    padding: 0.25rem 1rem;
    width: 8rem;
    height: 35px;
    transition-property: background-color, background-image, border, color, width, font-variation-settings;
    transition-duration: 0.333s;
    transition-timing-function: ease-out;
    transition-delay: 0;
    background: none;
    border: none;
    position: absolute;
}

button::before,
button::after {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    content:"";
    clip-path: polygon(#{$CORNER} 0%, calc(100% - #{$CORNER}) 0%, 100% #{$CORNER}, 100% calc(100% - #{$CORNER}), calc(100% - #{$CORNER}) 100%, #{$CORNER} 100%, 0% calc(100% - #{$CORNER}), 0% #{$CORNER});
    background-color:darken($WINDOW_BORDER_COLOR,30%);
}

button::after {
    $GRAD: transparent 49.5%,$WINDOW_BORDER_COLOR 50%;
    background: 
        linear-gradient(to top right   ,#{$GRAD}) top    right,
        linear-gradient(to top left    ,#{$GRAD}) top    left,
        linear-gradient(to bottom right,#{$GRAD}) bottom right,
        linear-gradient(to bottom left ,#{$GRAD}) bottom left;
    background-size:calc(#{$CORNER} - #{$BORDER_THICKNESS}) calc(#{$CORNER} - #{$BORDER_THICKNESS});
    background-repeat:no-repeat;
    border: #{$BORDER_THICKNESS} solid $WINDOW_BORDER_COLOR;
    content: "Explore";
}

button:hover {
    color: darken($WINDOW_BORDER_COLOR,25%);
    width: calc(15vw - 20px - 1rem);
    font-weight: 600;
    font-variation-settings: 'wght' 600;
}

button:hover::before,
button:hover::after {
    background-color: $WINDOW_BORDER_COLOR;
}

button:hover::after {
    $GRAD: transparent 49.5%,darken($WINDOW_BORDER_COLOR,25%) 50%;
    background: 
        linear-gradient(to top right   ,#{$GRAD}) top    right,
        linear-gradient(to top left    ,#{$GRAD}) top    left,
        linear-gradient(to bottom right,#{$GRAD}) bottom right,
        linear-gradient(to bottom left ,#{$GRAD}) bottom left;
    background-size:calc(#{$CORNER} - #{$BORDER_THICKNESS}) calc(#{$CORNER} - #{$BORDER_THICKNESS});
    background-repeat:no-repeat;
    border: #{$BORDER_THICKNESS} solid darken($WINDOW_BORDER_COLOR,25%);
}

button:disabled {
    color: darken(white,25%);
}

button:disabled:hover {
    width: 8rem;
}

button:disabled::before,
button:disabled::after {
    background-color:darken($WINDOW_DISABLED_COLOR,30%);
}

button:disabled::after {
    $GRAD: transparent 49.5%,darken($WINDOW_DISABLED_COLOR,25%) 50%;
    background: 
        linear-gradient(to top right   ,#{$GRAD}) top    right,
        linear-gradient(to top left    ,#{$GRAD}) top    left,
        linear-gradient(to bottom right,#{$GRAD}) bottom right,
        linear-gradient(to bottom left ,#{$GRAD}) bottom left;
    background-size:calc(#{$CORNER} - #{$BORDER_THICKNESS}) calc(#{$CORNER} - #{$BORDER_THICKNESS});
    background-repeat:no-repeat;
    border: #{$BORDER_THICKNESS} solid darken($WINDOW_DISABLED_COLOR,25%);
}

button:focus {
    border: none;
    outline: none;
}

#media-container {
    width:100vw;
    height:100vh;
    position:absolute;
    top:0;
    left:0;
    padding: 5vw;
    border-right-style: solid;
    box-sizing: border-box;
    background-color: rgba(black,75%);
    z-index:999;
    display: none;

    > #video-window {
        width: 100%;
        height: 100%;
        border: 3px solid aqua;
        position: relative;
        box-sizing: content-box;
        overflow: hidden;
        > #video-youtubeElement, > #video-element {
            display: none;
        }
    }

    > #video-close-button {
        display: flex;
        position:absolute;
        top: 0;
        right: 0;
        width: 4vw;
        height: 4vw;
        background: rgba( white,10%);
        color: darken( white, 50%);
        align-items: center;
        justify-content: center;
        font-size: 1.5vw;
        user-select: none;
        transition: background-color 0.1s ease-out;
        cursor: pointer;
    }

    > #video-close-button:hover {
        background-color: rgba(white,20%);
        color: white;
    }

    > #image-window {
        height: 100%;
        width: 100%;
        border: 3px solid aqua;
        position: relative;
        box-sizing: content-box;
        overflow: auto;
        > #media-image {
            min-height: 100%;
            min-width: 100%;
        }
    }

    #video-element {
        height: 100%;
        max-width: 100%;
        margin: 0 auto;
        border: 3px solid aqua;
        background-color: black;
    }
    
}

#explore-button {
    margin-top: 35px;
    height:45px;
}
#explore-button::after {
    padding:6px 0;
}